
.project_container{

    position: relative;
   // background-color: rgba(0, 0, 0, 0.526);
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    //height: calc( 100vh + 300px );
    .project-title{
        width: 100%;
        height: 300px;
        background-color: white;
        div{
            line-height: 300px;
            text-align: center;
            font-size: 500%;
            font-family: OAGothic-ExtraBold;
            
        }
    }
    .project-button{
        position: relative;
        display: flex;
        .project-1:active{
            
        }
    }
        .box{
            display: flex;
            height: 900px;
            width: 100%;
            margin-bottom: 0;
            background-color: rgb(168, 168, 168);

            // .one-img{
            //     height: 100%;
            //     width: 55%;
            //     background-color: rgb(228, 228, 228);
            //     img{
            //         animation: 0.7s ease-in-out smoothAppear;
            //         height: 30%;
            //         width: 100%;
            //         margin-top: 300px;
            //         background-image: url("../img/project1.png");
            //         background-size: contain;
            //         background-repeat: no-repeat;
            //     }
            //     @keyframes smoothAppear {
            //         from {
            //           opacity: 0;
            //           transform: translateY(-5%);
            //         }
            //         to {
            //           opacity: 1;
            //           transform: translateY(0);
            //         }
            //       }
                
            // }
            
        }

        
        // .one{
        //    // display: inline-block;
        //     height: 100px;
        //     width: 100px;
        //      background-color: rgb(54, 67, 67);
         
        //    background-size: cover;

        // }
        // .two{
        //     height: 100px;
        //     width: 100px;
        // }
        // .three{
        //     height: 100px;
        //     width: 100px;
        // }
    
        
}

//모바일
@media ( max-width: 782px ) {


    .project_container{
        position: relative;
        background-color: rgb(255, 255, 255);
        width: 100%;
    
        //height: calc( 100vh + 300px );
        .project-title{
            width: 100%;
            height: 300px;
            background-color: white;
            div{
                line-height: 300px;
                text-align: center;
                font-size: 500%;
                font-family: OAGothic-ExtraBold;
            }
        }
        .project-button{
            position: relative;
            display: flex;
            .project-1:active{
                
            }
        }
            .box{
                text-align: center;
                display: inline-block;
                height: 950px;
                width: 100%;
                margin-bottom: 10px;
                background-color: rgb(168, 168, 168);   
            }

            
    }
    
}
