.blink{
    position: absolute;
    color: rgb(255, 255, 255);
    //font-family: IAMAPLAYER;
   font-weight: 100;
    animation: textblink 1s step-end infinite ;
}

@keyframes textblink {
    50%{
        opacity: 0;
    }
}

  //title 고딕
@font-face {
    font-family: 'OAGothic-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

